@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
    background: #111;
    color: #ddd;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

a {
    color: #aee;
}

/* Front page */
#games {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 600px;
}

#games h2 {
    flex: 300px;
}

#games h2 img {
    display: block;
    margin: 0 auto;
}

/* Game page */
html, body {
    height: 100%;
}

#col {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0 auto;
    max-width: 640px;
}

#heading, #arthurmodes {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 640px;
}

#heading h1, #heading p {
    font-size: 15px;
    margin: 12px;
}

#inner {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
}

#arthurmodes {
    justify-content: space-around;
}

#arthurmodes p {
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
    padding: 6px;
}

/* Show shorter buttons on mobile */
.arthurshort {
    display: none;
}

@media (max-width: 500px) {
    #arthurmodes p {
        font-size: 14px;
    }
    .arthurfull {
        display: none;
    }
    .arthurshort {
        display: block;
    }
}

canvas {
    display: block;
}

#textinput {
    position: absolute;
    left: -10000px;
}

/* .arcadeButton {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
} */

.arcadeButton {
    letter-spacing: -2px;
    font-family: DotGothic16;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #ECF0F1 !important;
    
    width: 120px;
    height: 46px;
    
    padding-top: 1px; 
    background-color: #ffffff;
    
    border-width: thin;
    margin-right: 5px;
 
    background: #1e1e2c;
    border-radius: 16px;
    border-color: #ecf0f157;
}

.arcadeButton:focus {
   color: #ECF0F1 !important;
   background: #19212A;
}

/* .arcadeButton:visited {
   color: white !important;
   background: #35BC27;
} */
